body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 400px;
  height: 150px;
  background-color: #00c896;
  border-radius: 100px;
  position: relative;
}

.nobe {
  width: 150px;
  height: 150px;
  background-color: #0fe67a;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.js-nobe-onclick {
 transform: translateX(calc(400px - 150px));
}
